@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,&display=swap');

/*common section starts*/
body{
    margin: 0;
    padding: 0;
    border: 0;  
    min-height: 100%;
    font-family: 'Fira Sans', sans-serif;
    display: block;
}
body{
  overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
div{
    border: 0;
    padding: 0;
    margin: 0;
}
.container{
    
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    width: 100%;
    min-height: 675px;
}
.main-container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 800px;
}
.main-container .image{
  display: flex;
  justify-content: center;
  height: 35%;
  margin-top: 20px;
}
.main-container .image img{
  height: 100%;
  width: 100%;
}
/*common section ends */

/*navbar starts*/

.navbar{
    display: flex;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    flex-direction: column;
}
.navbar-container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.site-header{
  background-color: #000000;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2d2d2d;
}
.top-content{
  background-color: #111111;
}
.navbar-container a{
    text-decoration: none;
}
.navbar h1{
    text-transform: uppercase;
    font-size: 30;
    color: #000;
    font-weight: 800;
    margin: 10 0;
}
.site__col{
  max-width: 33%;
  float: left;
  width: auto;
}
.nav-logo-img{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
}
.nav-logo-img img {
  max-height: 70px;
  max-width: 100%;
}
.site__col a{
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.nav-wrap{
  background-color: #CC0000;
}
.site__row{
  display: block;
}
.nav-wrap .site__row{
  padding-top: 0;
}
.nav-wrap .site__col{
  margin-left: 2.2%;
  max-width: 100%;
  padding: 20px 0;
}
.nav-wrap ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.site__col ul > li{
  padding-left: 20px;
  padding-right: 20px;
}
.button-menu-mobile {
  display: block;
  float: none;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, right 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, right 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.button-menu-mobile > *:nth-child(1) {
  margin-top: -5px;
}
.button-menu-mobile > * {
  display: block;
  position: absolute;
  width: 16px;
  height: 1px;
  border: none;
  background: none;
  left: 6px;
  top: 50%;
  transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.button-menu-mobile > *:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}
.button-menu-mobile > *:nth-child(1):after, .button-menu-mobile > *:nth-child(2):after, .button-menu-mobile > *:nth-child(3):after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -200px;
  background-color: white;
}
.button-menu-mobile > *:nth-child(3) {
  margin-top: 5px;
}
.nav-logo-img img{
  margin-left: 60%;
}
/*mobile view navbar starts*/
@media screen and (min-width:1200px)
{
  .site__container{
   padding-right: 15px;
   padding-left: 15px;
   width: 1170px;
   max-width: 100%;
  }
  .site__row{
   margin-right: -15px;
   margin-left: -15px;
  }
  .site__col{
    padding-right: 15px;
    padding-left: 15px;
  }
  .site__row__left{
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width:992px)
 {
   .site__container{
    padding-right: 15px;
    padding-left: 15px;
    width: 960px;
    max-width: 100%;
   }
   .site__row{
    margin-right: -15px;
    margin-left: -15px;
   }
   .site__col{
    padding-right: 15px;
    padding-left: 15px;
  }
   .site__row__left{
    padding-right: 15px;
    padding-left: 15px;
  }
 }
 @media screen and (min-width:768px){
  .site__container{
   padding-right: 15px;
   padding-left: 15px;
   width: 720px;
   max-width: 100%;

  }
  .site__row{
   margin-right: -15px;
   margin-left: -15px;
  }
  .site__col{
    padding-right: 15px;
    padding-left: 15px;
  }
  .site__row__left{
   padding-right: 15px;
   padding-left: 15px;
 }
}
@media screen and (min-width:576px)
{
 .site__col{
   padding-right: 15px;
   padding-left: 15px;
 }
}
@media screen and (min-width:576px){
  .site__col{
    padding-right: 15px;
    padding-left: 15px;
  }
 }
 @media screen and (max-width:1199px)
{
  .nav-logo-img{
    min-height: 130px;
  }
}
@media screen and (min-width:992px)
{ 
  .site_col{
    display: none;
  }
  .nav-mobile{
    display: none;
  }
}
@media screen and (max-width:1199px)
{
  .main-nav > ul{
    margin-left: -10px;
    margin-right: -10px;
  }
}
.mobile-menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #000000;
  z-index: 20;
  overflow: hidden;
  overflow-y: scroll;
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 30px;
  padding-right: 30px;
  color: #C4C4C4;
}
.mobile-menu-close{
  margin-top: 30px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.mobile-menu-close > *:nth-child(1), .mobile-menu-close > *:nth-child(2), .mobile-menu-close > *:nth-child(3) {
  opacity: 0;
  transition: none;
  -webkit-transition: none;
}
.mobile-menu-close > *:nth-child(1) {
  margin-top: -5px;
}
.mobile-menu-close > *:nth-child(3) {
  margin-top: -5px;
}
.mobile-menu-close > *{
  display: block;
  position: absolute;
  width: 16px;
  height: 1px;
  border: none;
  background: none;
  left: 6px;
  top: 50%;
}
.mobile-menu-close > *:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}
.mobile-menu-close > *:nth-child(1):after, .mobile-menu-close > *:nth-child(2):after, .mobile-menu-close > *:nth-child(3):after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -200px;
  background-color: white;
}
.mobile-menu-close > *:nth-child(4) {
  opacity: 1;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
}
.mobile-menu-close > *:nth-child(5) {
  opacity: 1;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
}
.mobile-menu-social {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 5px;
}
.mobile-menu-social .social-block{
  display: inline-block;
  margin: -5px;
  padding: 0;
  list-style: none;
  line-height: 2.2;
}
.social-block > li{
  padding: 5px;
  margin: 0;
  float: left;
  list-style: none;
}
.social-block a{
  background-color: #FFFFFF;

} 
.social-block > li > a > span.icon {
  background-color: rgba(255, 255, 255, 0.15);
  color: #FFFFFF;
  font-size: 16px;
}
.social-block > li > a > span.icon {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #606060;
  line-height: 40px;
  font-size: 14px;
  font-weight: normal;
  color: white;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s, opacity 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s, opacity 0.3s;
  position: relative;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  margin-top: 12px;
}
.social-block > li > a > span.icon i.fa:before {
  font-size: 16px;
  line-height: 1;
}
.mobile-menu{
  display: none;
}
.mobile-menu-items{
  padding: 15px 30px;
  font-size: 15px;
  font-weight: 800;
  text-transform: capitalize;
  text-decoration: none;
  font-style: normal;
}
.mobile-menu-items ul{
  list-style: none;
  margin:0px;
  padding: 0px;
  line-height: 1.8;
}
.mobile-menu-items > ul > li {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 30px;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2.8;
}
.mobile-menu-items > ul > li > a {
  font-size: 18px;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
}
.menu-mobile-end{
  border-top: 2px dashed rgba(255, 255, 255, 0.15);
  margin-top: 32px;
  padding-top: 28px;
  line-height: 1.8;
}

.mobile-menu-items li a:hover{
  color: red;
}
.social-block .icon:hover{
  background-color: #FFFFFF;
  color: black;
}
@media screen and (max-width:991px)
{
  .site-header{
    background-color: #111111;
  }
  .nav-logo-img img{
    display: none;
  }
  .site__col ul{
    display: none;
  }
  .site_col{
    position: absolute;
    top: 81%;
    left: 40%;
    float: none;
  }
  .site_col img{
    height: 37px;
    width: 120px;
  }
  .nav-mobile{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
  }
  .nav-wrap{
    background-color: #000000;
  }
}
@media screen and (max-width:800px)
{
  .navbar-container{
    display: none;
  }
  .site_col{
    top: 28%;
  }
}
/*mobile view navbar ends*/
/*navbar ends*/

/*mobile view of main image starts*/
@media screen and  (max-device-width: 1400px) and (orientation : landscape){
  .main-container .image {
      height: 29%;
  }
}
@media screen and (max-width: 995px) , screen and (max-height: 1280px) {
  .main-container .image{
      height: 31%;
  }
}
@media screen and  (max-device-width: 1200px) and (orientation : landscape){
  .main-container .image {
      height: 38%;
  }
}
@media screen and  (max-device-width: 1150px) and (orientation : landscape){
  .main-container .image {
      height: 29%;
  }
}
@media screen and  (max-device-width: 823px) and (orientation : landscape){
  .main-container .image {
      height: 56%;
  }
}
@media screen and (max-width:823px)
{
  .main-container .image{
      height: 30%;
  }
}
@media screen and  (max-device-width: 822px) and (orientation : landscape){
  .main-container .image {
      height: 36%;
  }
}

@media screen and (max-width:820px)
{
  .main-container .image{
      height: 32%;
  }
}
@media screen and  (max-device-width: 814px) and (orientation : landscape){
  .main-container .image {
      height: 56%;
  }
}
@media screen and  (max-device-width: 810px) and (orientation : landscape){
  .main-container .image {
      height: 32%;
  }
}
@media screen and  (max-device-width: 800px) and (orientation : landscape){
  .main-container .image {
      height: 32%;
  }
}

@media screen and (max-width:810px)
{
  .main-container .image{
      height: 31%;
  }
}
@media screen and  (max-device-width: 742px) and (orientation : landscape){
  .main-container .image {
      height: 46%;
  }
}@media screen and  (max-device-width: 740px) and (orientation : landscape){
  .main-container .image {
      height: 32%;
  }
}
@media screen and  (max-device-width: 732px) and (orientation : landscape){
  .main-container .image {
      height: 51%;
  }
}
@media screen and  (max-device-width: 731px) and (orientation : landscape){
  .main-container .image {
      height: 40%;
  }
}
@media screen and (max-width:727px)
{
  .main-container .image{
      height: 32%;
  }
}
@media screen and  (max-device-width: 670px) and (orientation : landscape){
  .main-container .image {
      height: 46%;
  }
}
@media screen and  (max-device-width: 650px) and (orientation : landscape){
  .main-container .image {
      height: 54%;
  }
}

@media screen and (max-width:590px)
{
  .main-container .image{
      height: 28%;
  }
}
@media screen and (max-width:570px)
{
  .main-container .image{
      height: 24%;
  }
}
@media screen and  (max-device-width: 570px) and (orientation : landscape){
  .main-container .image {
      height: 54%;
  }
}
@media screen and  (max-device-width: 563px) and (orientation : landscape){
  .main-container .image {
      height: 36%;
  }
}
@media screen and (max-width:530px)
{
  .main-container .image{
      height: 22%;
  }
}
@media screen and (max-width:500px)
{
  .main-container .image{
      height: 23%;
  }
}

@media screen and (max-width:420px)
{
  .main-container .image{
      height: 20%;
  }
}
@media screen and (max-width:380px)
{
  .main-container .image{
      height: 16%;
  }
}
@media screen and (max-width:360px)
{
  .main-container .image{
      height: 20%;
  }
}
@media screen and (max-width:360px)
{
  .main-container .image{
      height: 16%;
  }
}
@media screen and (max-width:270px)
{
  .main-container .image{
      height: 13%;
  }
}
/*mobile view of main image ends*/

/*instruction section starts*/
.center-text{
  display: flex;
  justify-content: center;
  color: red;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12;
  margin-top: 20px;
}
.instruction{
  margin-top: 20px;
}
.instruction .instruction-list{
  line-height: 1.6rem;
  color: #333;
  list-style: none;
  font-weight: normal;
}
.instruction .inst{
  letter-spacing: 1.5px;
}
.instruction-list li::before{
  content: "+";
  color: red;
  padding-right: 10;
  font-weight: 600;
}
/*instruction section ends*/

/*survey form starts*/
.form{
  margin-top: 20px;
  position: relative;
}
.form-wrap{display: flex;flex-direction: column;}
.form-wrap #name , .form-wrap #category , .form-wrap #noofquestions , .form-wrap #emailinput , .form-wrap #phoneno{
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #333;
  font-size: 16px;
  font-weight: normal;
}
.form-wrap #username , .form-wrap #categories , .form #questioncount  ,.form #quiz-type , .form #useremail , .form #userphnno{

  height: 35px;
  padding-left: 10;
  color: #333;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #ccc;
}
/* Chrome, Safari, Edge, Opera */
#questionCount::-webkit-outer-spin-button,
#questionCount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.form #name{
padding-top: 20px;
}
.form-wrap #username{
  margin-bottom: 20px;
}
.form-wrap #questionCount{
margin-bottom: 20px;
}
.form-wrap #useremail{
margin-bottom: 20px;
}
.form-wrap #userphnno{
margin-bottom: 20px;
}
.form-wrap #categories{
  margin-bottom: 20px;
  text-transform: uppercase;
  border: 5px solid #f05a5a;
}
.form-wrap #mysurveyform{
  display: flex;
  flex-direction: column;
}
.form-wrap a{
  margin-top: 10px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #f05a5a;
  background-color: #f05a5a;
  color: white;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.form-wrap #categories,.form #quiz-type{
  background-color: #f05a5a;
  color: white;
  border-radius: 6px;
  height: 50px;
  cursor: pointer;
}
.form-wrap sup{
font-size: 20px;
font-weight: 800;
}
#cate option{
  border-bottom: 1px solid white;
}
/*survey form ends*/

/*footer section starts*/
.footer-copyright {
  background-color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-bottom: 50px;
}
.site__container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
ul.social {
  text-align: center;
  line-height: 0;
  margin: 0;
}
ul.social li {
  display: inline-block;
  margin: 0;
}
.post-title{
  font-size: 14px;
  margin-bottom: -4px;
  margin-top: -4px;
  color: #FFFFFF;
}
.post-title a{
  color: #FFFFFF;
  text-decoration: none;
}
.post-title a:hover{
  color: red;
}
/*footer section ends*/

/* page 2 questions start*/
.quiz-center-text{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.quiz-center-text p{
  font-size: 18;
}
#question-block-1{
  background-color: #f05a5a;
}
.question-block{
  color: #f7f7f7;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 450px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.question{
  padding-top: 10px;
}
.text-option-shadow{
  box-shadow: 0px 0px 8px #999 inset;
  border: none;
}
.form-control{
  font-family: 'Fira Sans', sans-serif;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
}
textarea{overflow: auto;}
#select-question{
  text-transform: uppercase;
}
#select-question{
  color: black;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  margin-top: 5px;
}
.add-option-button{
  border: 1px solid #444;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
  background-color: #979797;
  color: #f7fcfc;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
}
.add-option-button{
  width: 80%;
  margin-left: 40px;
  border-radius: 5px;
}
.fullwidthbutton{
  background-color: #e41849;
  color: #fff;
  margin-top: 0px;
  border-radius: 0 20px 20px 0;
  padding: 8px;
  border: 1px solid #e41849;
  width: 17%;
  height: 50px;
}
#question-block-2{
  background-color: #10bbb3;
}
#question-block-3{
  background-color: #fb4e4f
}
#question-block-4{
  background-color: #2da6e4;
}
#question-block-5{
  background-color: #60992D;
}
#question-block-6{
  background-color: #fa6498;
}

#question-block-7{
  background-color: #5555b3;
}
#question-block-8{
  background-color: #223127;
}
#question-block-9{
  background-color: #9a38cd;
}
#question-block-10{
  background-color: #10bbb3;
}
.button2{
  margin-top: 10px;
  border-radius: 8px;
}
.donebutton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.fullwidthbutton{
  display: block;
  width: 60%;
  border: none;
  background-color: #f05a5a;
  color: #f7fcfc;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width:50%;
}
button.close{
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.nextbutton{
  display: flex;
  justify-content: center;
}

/*page 2 questions ends*/

/*question option starts*/
.option-enclosure{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.option-input.radio{
  border-radius: 50%;
  z-index: 0;
  margin: 4px 0 0;
  line-height: normal;
}

.option-input{
  top: 2px;
  height: 32px;
  width: 32px;
  background: #fff;
  border: solid;
  border-color: #555;
  border-width: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
}
.radio{
  margin-top: 10px;
}
.option{
  margin-top: 10px;
  width: 80%;
  margin-left: 8px;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  }
  .close{
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}
.option-remove{
  margin-left: 6px;
  opacity: .7;
}
.option-remove-icon{
  font-weight: bold;
  color: #fff;
}
.option-remove-icon{
  cursor: pointer;
}
/*question options ends*/


#text-question-number-1{
    vertical-align: top;
    justify-content: center;
    font-size: 17px;
}
textarea .form-control{
    height: auto;
}

/*social media buttons starts*/
.col-lg-12{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
}
.share-btn-div{
  cursor: pointer;
  margin: 0px;
  padding: 3px;

}
.whatsapp-btn{
  background-color: #20c47a;
  max-height: 47px;
  text-decoration: none;
}
.share-button{
  border-width: 0px;
  margin: 0px;
  border-radius: 0px;
}
.btn-block{
  display: block;
  width: 100%;
}
.messenger{
  width: 50%;
  cursor: pointer;
}
.small-btn{
  display: flex;
  flex-direction: row;
}
.btn-lg{
  display: flex;
  justify-content: center;
  padding: 10px 16px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  line-height: 1.3333333;
  border-radius: 20px;
}
.share-text{
  padding-left: 10px;
}
.facebook-btn{
  background-color: #3B5998;    
}
.twitter-btn{
  background-color:#55ACEE;
}
.page-que-share{
  padding-left: 10px;
  padding-top: 3px;
}
#share-icon{
height: 22px;
display: flex;
justify-content: center;
align-items: center;
}
.row{
  margin-bottom: 20px;
}
.vk-messenger{
  background-color: #45668E;

}
.button-section{
  margin-bottom: 5px !important;
}
.snapchat-btn{
  background-color: #FFFC00 ;
  color: black;
}
.snapchat , .messenger , .instagram , .line , .talk , .vk{
  width: 50%;
  cursor: pointer;
}
.messenger-btn  {
 background-color: #00B2FF;
}
.instagram-btn{
  background: linear-gradient(to right, #db7a48 , #b33376);
}
.line-btn{
  background-color: #00b900;
}
.talk-btn{
  background-color: #fae301;
  color: black;
}
.vk-btn{
  background-color: #6c9dd3;
}
.line img , .talk img{
  height: 27px;
}
.vk img{
  height: 27px;
}
.messenger{
  padding-left: 10px;
  padding-top: 10px;
}

.line{
  padding-left: 10px;
}
.vk{
  padding-left: 10px;
}
#whatsAppbtn{
  padding: 0px 13px;padding-left: 10px;
}
.snapchat_ss{
  width: 100%
}
.hidden {
  display: none;
}
.open {
  display: block!important;
}
.modal-open {
overflow: hidden;
}
.modal {
display: none;
overflow: auto;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1050;
-webkit-overflow-scrolling: touch;
outline: 0;
background-color: #00000063;
padding-top: 100px;
}
.modal-dialog {
position: relative;
width: auto;
margin: 10px;
}
.modal-content {
position: relative;
background-color: #ffffff;
border: 1px solid #999999;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 6px;
-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
-webkit-background-clip: padding-box;
background-clip: padding-box;
outline: 0;
}
.modal-backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;
background-color: transparent;
}
.modal-header {
padding: 15px;
border-bottom: 1px solid #e5e5e5;
min-height: 16.42857143px;
}
.modal-header .close {
position:relative;
top: -25px;;
}
.modal-title {
margin: 0;
line-height: 1.42857143;
}
.modal-body {
position: relative;
padding: 15px;
}
.modal-footer {
padding: 15px;
text-align: right;
border-top: 1px solid #e5e5e5;
}

button.close {
-webkit-appearance: none;
padding: 0;
cursor: pointer;
background: transparent;
border: 0;
}
.close:hover, .close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
filter: alpha(opacity=50);
opacity: .5;
}
@media (min-width: 768px) {
.modal-dialog {
  width: 640px;
  margin: 30px auto;
}
.modal-content {
  -webkit-box-shadow: 0 5px 15px transparent;
  box-shadow: 0 5px 15px transparent;
}
.modal-sm {
  width: 300px;
}
}
@media (min-width: 992px) {
.modal-lg {
  width: 900px;
}
}
[role="button"] {
cursor: pointer;
}
.hide {
display: none !important;
}
.show {
display: block !important;
}
.invisible {
visibility: hidden;
}
.text-hide {
font: 0/0 a;
color: transparent;
text-shadow: none;
background-color: transparent;
border: 0;
}
.hidden {
display: none !important;
}
.affix {
position: fixed;
}
@media screen and (max-width:450px)
{
    #whatsAppbtn{
        padding-right: 1px;
    }
}
@media screen and (max-width:340px)
{
  .page-que-share{
    font-size: 16px;
  }
}
@media screen and (max-width:320px)
{
  .page-que-share{
    font-size: 14px;
  }
}
/*social media button ends*/

/*Link container starts*/
.link-container{
  max-width: 800px;
  margin: 0 auto;
  display: block;
}
#linkinput{
  display: flex;
  justify-content: center;
}

#copyButton{
  width: 16%;
  display: flex;
  align-items: center; 
  justify-content: center;
}
.highlighted_text{
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  background: #d9d5d7;
  height: 50px;
}
#result-heading{
  font-weight: bold;
  color: #6E2594;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#results-instruction{
  font-size: 15px;
  line-height: 1.2rem;
}
#link-box{
  background: #9932cc38;
  border-radius: 8px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px dashed black;
}
hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
#link-details p {
  font-weight: normal;
  margin: 0 0 10px;
}
@media screen and (max-width:1400px)
{
  .highlighted_text{
    padding: 8px;
    width: 40%;
  }
}
@media screen and (max-width:450px)
{
    .quiz-center-text p {
        text-align: center;
    }
    #results-instruction{
        text-align: center;
        padding: 0 10;
    }
    #quiz-link-title{
        padding: 0 10 ;
        text-align: center;
    }
    #pollLinkField{
        margin: 0 30px;
    }
    
}
@media screen and (max-width:800px)
{
    .quiz-center-text p {
        text-align: center;
    }
    #results-instruction{
        text-align: center;
        padding: 0 10;
    }
    #quiz-link-title{
        padding: 0 10 ;
        text-align: center;
    }
    #linkinput{
        display: flex;
        justify-content: center;       
    }
    #result-heading{
        text-align: center;
    }
    .highlighted_text{
        width: 100%;
    }
}

@media screen and (max-width:550px)
{
    .center-text h1{
        text-align: center;
    }
}

@media screen and (max-width:450px)
{
    .quiz-center-text p {
        text-align: center;
    }
    #results-instruction{
        text-align: center;
        padding: 0 10;
    }
    #quiz-link-title{
        padding: 0 10 ;
        text-align: center;
    }
    #pollLinkField{
        margin: 0 30px;
    }
    .center-text h1{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .instruction-list{
        padding-left: 10px;
    }
    .instruction-list .inst{
        letter-spacing: 1px;
    }
    .form{
        margin-top: 40px;
    }
    .row{
        padding: 0 5px;
    }
    .col-lg-12{
        padding: 0;
    }
}
@media screen and (max-width:800px)
{
    .quiz-center-text p {
        text-align: center;
    }
    #results-instruction{
        text-align: center;
        padding: 0 10;
    }
    #quiz-link-title{
        padding: 0 10 ;
        text-align: center;
    }
    #linkinput{
        display: flex;
        justify-content: center;       
    }
}
@media screen and (max-width:360px)
{
  .highlighted_text{
    width: 70%;
  }
  .fullwidthbutton{
    width: 21%;
    font-size: 14px;
  }
}
@media screen and (max-width:360px)
{
  #next-button{
    width: 50%;
    font-size: 20px;
  }
  #submit-button{
    width: 50%;
    font-size: 20px;
  }
}
/*Link container ends*/

/*score board starts*/
#scoreboard-title{
    font-size: 20px;
    color: #FF5151;
    font-weight: bold;
}
table , th ,td{
    border: 1px solid black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
/*socre board ends*/



.site__row__left{
    max-width: 33%;
    float: left;
  }
.main-nav{
  background-color: #CC0000;
  z-index: 8;
}
.nav-wrap .desktop{
  margin-left: 9%;
}